.container{
  width: 100%;
  height: auto;
  background: #EDEDED;
  display: flex;
  flex-direction: row;
  position: center;
  flex-flow: wrap;
  align-items: center;

}


footer {
  text-align: center;
  /* background-color: #999ca3; */
  background-color: #443e5e;

}

footer, a {
  color:#f0f3fa
}


.navbar-expand-lg, .navbar-light, .bg-light{
  /* background-color: #000000 !important; */
  background-color: #443e5e !important;
  font-family:'Lucida Console', Monaco, monospace !important;
  font-size: 24px !important;
  color: white !important;
}
.navbar-brand img{
  width: 50px;
  height: 50px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #8C8C8C !important;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.navbar-toggler-icon {
        background-color: #F7F7F7 !important;
}


.page{
  background-color: #F7F7F7 !important;
  font-family:'Lucida Console', Monaco, monospace !important;
  color: #404040 !important;
  overflow: auto;
  position: relative;
  font-size: 1.0em !important
}
.page-name-container{
  display: flex;
  justify-content: left;
}

.page-name{
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: left;
}

.item-name-container{
  display: flex;
  justify-content: left;
}

.item-name{
 margin: auto;
 width: 50%;
 padding: 10px;
 text-align: center;
}

.page h3{
  font-size: 1.5em;
}




.review-container{
  max-width: auto;
  font-family:'Lucida Console', Monaco, monospace !important;
  margin-bottom: 0px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.review-image-container{
  max-width: 600px;
  max-height: 600px;

  margin: auto;
  width: 75%;
}
.review-image-container img{
  max-width: 600px;
  max-height: 600px;
}
.review-paragraph-container{
  max-width: 600px;
  text-align: center;
  padding-left: 0px;
  max-width: auto;
  padding-top: 25px;
  padding-left: 0px;

  margin: auto;
  width: 75%;
}

.review-paragraph-container a{
  justify-content: center;
}

.review-paragraph-container ul{
  list-style-type: none;
  text-align: left;
  padding-left: 0em;
}

.review-container-title {
  margin: auto;
  width: 75%;
  text-align: center;
}


.container img{
  width: 100%
}

.instructions-paragraph-container p{
    text-align: left !important;
}

.instructions-paragraph-container a{
    color: #443e5e;
    text-align: center !important;
    font-size: 1.3em;
}

.image{
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.form{
  display: flex;
  justify-content: left;
}
